<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Input</h1>
<form action="#" th:action="@{/input}" th:object="${input}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>Data values separator: <input type="text" th:field="*{separator}" /></p>
    <p>Data set: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<p>Data sets:</p>
<tr th:each="dataSet: ${dataSets}">
    <p>Data set id: <td th:text="${dataSet.id}" /></p>
    <p>Data set values: <td th:text="${dataSet.dataList}" /></p>
    <p></p>
</tr>
</body>
</html>